html, body {
    margin: 0;
    width: 100%;
    overscroll-behavior: none;
    font-family: sans-serif;
    color: #000;
    line-height: 1.3;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    cursor: pointer;
    position: relative;
    padding: 2px 2px 2px 1px;
    display: inline-flex;
}


.btn:before {
    position: absolute;
    content: "";
    width: calc(100% + 7px);
    height: 100%;
    top: 0;
    left: 0;
    background: #F9F871;
    z-index: -1;
    opacity: 0;
}

.btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -1px;
    background: #222;
}

.btn:hover:before {
    opacity: 1;
}

h2 {
    width: 100%;
    margin: 2.5em 0 1em 0;
    padding: 0;
}

.page {
    max-width: 800px;
    margin: 0 auto;
}