@import 'mixins'

html, body
  margin: 0
  width: 100%
  overscroll-behavior: none
  font-family: sans-serif
  color: #000
  line-height: 1.3em

a
  color: inherit
  text-decoration: none
h2
  width: 100%
  padding-top: 2.5em
  padding-bottom: 1.5em
  margin-top: 0
  margin-bottom: 0
.btn
  cursor: pointer
  position: relative
.btn:hover
  opacity: 0.6
.btn:after
  position: absolute
  content: ''
  width: 100%
  height: 2px
  left: 0
  bottom: -1px
  background: #222

.contacts
  position: fixed
  bottom: 25px
  right: 16px
  z-index: 2
  @media (max-width: 888px)
    display: none

.social
  width: 20px
.social-container
  height: 1.6em
  .btn:after
    height: 0

.banner
  .banner-content
    height: 100vh
    width: 95%
    max-width: 700px
    margin: 0 auto
    @include flexbox
    @include flex-direction(column)
    @include justify-content(center)
    z-index: 1
    h2
      padding-top: 0
      font-size: 31px
      line-height: 42px
      font-weight: normal
      margin: 0
      span
        padding-top: 10px
    .main-btn
      font-size: 27px
      display: inline-block
      margin: 30px 20px 0 0
      padding-bottom: 5px
      text-transform: uppercase
    .btn:after
      height: 3px
      bottom: -4px
  .banner-color,
  .banner-back
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .banner-back
    z-index: -1
  .banner-color
    background-color: #4BC0C8

.what-I-do, .who-I-am
  max-width: 700px
  margin: 0 auto
  padding-top: 30px

.who-I-am
  margin-bottom: 130px
  ul
    list-style: none
    padding: 0 0 0 10px
  li
    &:before
      content: ''
      display: inline-block
      height: 0.8em
      width: 0.8em
      background-image: url('./img/rect.svg')
      background-size: contain
      background-repeat: no-repeat
      margin-right: 10px
      margin-bottom: -2px
  img
    width: 100%
  .who-I-am--paragraph
    margin: 1em auto
  .social-container
    height: 1.6em
    svg, span
      float: left
    svg
      height: 100%
    span
      line-height: 1.6em
      padding-left: .6em
  .social-container:nth-child(1)
    margin-top: 20px


.what-I-do
  @include flexbox
  flex-wrap: wrap
  @include justify-content(space-between)
  .animation
    width: 100%
    margin: 20px 0
    .animation-wrapper
      position: relative
      @include flexbox
      @include justify-content(center)
      width: 100%
      height: 250px
      max-height: 50vw
      background-color: #f7f7f7
    svg, canvas, img
      display: block
      width: 100%
      max-height: 100%
    a
      padding: 2px 8px
      float: right
      background-color: #4BC0C8
    .gif-wrapper
      position: relative
      width: 100%
      .gif-overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        background-color: rgba(10, 10, 10, .7)
        color: #fff
        opacity: 0
        a
          float: none
          color: #000
        *
          pointer-events: none
    &.fire
      .animation-wrapper
        height: 120px
        background-color: #f7f7f7
    &.wavy-back
      .animation-wrapper
        height: 320px
        max-height: 50vw
    &.heart
      .animation-wrapper
        height: 100px
        max-height: 25vw
        background-color: #f7f7f7
      img
        padding: 10px 0
    &.plane
      .animation-wrapper
        height: 200px
      svg
        background-color: rgba(110, 81, 161, 0.9)
    &.rate
      .animation-wrapper
        background-color: #f7f7f7
        @include flex-direction(column)
      .tip
        text-align: center
        padding-top: 10px
      svg
        padding-bottom: 10px
      .card
        cursor: pointer
        user-select: none
      & > text, .card path
        fill: #95B0B6
        @include transition(all 0.2s ease-in-out)
      .card--selected path
        fill: #000
    &.d3-groups
      .animation-wrapper
        @include flex-direction(column)
        text-align: center
        height: 250px
        max-height: 40vw
        padding: 10px 0
      .title
        display: inline-block
        float: left
        width: 50%
        opacity: 0
      svg
        margin: 0 auto
        opacity: 0
    &.d3-bars
      .animation-wrapper
        height: 290px
        max-height: 45vw
        padding: 10px 0
      .x.axis .tick line
        display: none
      .tick text
        font-size: 20px
      .grid path
        stroke-width: 0
    &.d3-scatterplot
      .animation-wrapper
        height: 290px
        max-height: 45vw
        padding: 10px 0
      text
        font-size: 20px
      .btn
        cursor: pointer
        opacity: 0.9
        @include transition(all .3s)
        &.disabled
          cursor: default
          opacity: 0.3
      .dot
        fill: #336B00
        opacity: 0.6
        cursor: pointer
        &.selected
          fill: #ff5252
          opacity: 1
    &.confetti
      .tip
        position: absolute
        top: 50%
        left: 50%
        @include transform(translate(-50%, -50%))
      canvas
        background-color: #f7f7f7
        height: auto
    &.stars
      .slider
        position: absolute
        top: 10px
        right: 10px
        color: #ffffff
      canvas
        height: auto
    &.globe
      .gif-wrapper
        background-color: #191618
        img
          display: block
          width: 320px
          max-width: 100%
          height: auto
          margin: 0 auto
    &.glass
      .gif-wrapper
        background-color: #ffffff
        img
          display: block
          width: 100%
          height: auto
    &.disco
      .gif-wrapper
        background-color: #DDE0E3
        img
          display: block
          //width: 480px
          max-width: 100%
          height: auto
          margin: 0 auto
  .publication
    margin-bottom: 3em
    @include flexbox
    @media (max-width: 350px)
      @include flex-direction(column)
    .publication-preview
      width: 100%
      min-width: 200px
    .publication-description
      @media (min-width: 351px)
        padding-left: 1em
.tip
  user-select: none

.mobile
  .gif-overlay
    opacity: 1


.mobile-padding
  @media (max-width: 888px)
    width: calc(100% - 20px)
    margin: 0 auto