/* Common Styles */

body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 17px;
}
a {
	color: inherit;
	text-decoration: none;
}
.btn {
	cursor: pointer;
	position: relative;
}
.btn:hover {
	opacity: 0.6;
}
.btn:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -4px;
	background: #000;
}
.container {
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 20vh;
}
/* Menu */
.menu {
	position: fixed;
	top: 0;
	left: 50%;
	width: 95%;
	max-width: 800px;
	height: 70px;
	padding-top: 30px;
	transform: translate(-50%);
	background-color: #fff;
	z-index: 2;
}
.home .menu {
	background-color: transparent;
}
.menu-btn {
	display: inline-block;
	text-align: right;
	float: right;
	margin-left: 20px;
}
.logo {
	display: inline-block;
	float: left;
	height: 70px;
	/*margin-top: -3vh;*/
}

/* Homepage */

.main-header {
	position: absolute;
	bottom: 5px;
	right: 0;
	font-size: 0.4em;
}
.home-back {
	height: 100vh; 
	width: 100%;
	opacity: 0.8;
}
.main-title {
	width: 90%;
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*font-size: 4vh;*/
}
.main-title h2 {
	/*font-size: 4.5vh;*/
	font-weight: normal;
	margin: 0;
}
.main-title .btn:after {
	height: 3px;
}
.main-title .social {
	float: right;
}
.main-btn {
	font-size: 1.3em;
	display: inline-block;
	margin: 30px 30px 0 0;
	text-transform: uppercase;
}
.footer {
	width: 90%;
	max-width: 800px;
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer .social {
	float: right;
	padding: 0 0 25px 10px;
}
/* Other pages */
h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-top: 1em;
}
h2 {
	/*font-size: 4vh;*/
}
.container .btn:after {
	bottom: -3px;
}

.hire-me a {

}
img {
	width: 100%;
	border-radius: 4px;
}

.social-container {
	height: 1.5em;
}
.social-container .btn:after {
	height: 0;
}
.social {
	display: inline-block;
	float: left;
	width: 20px;
	padding-right: 10px;
}

.cp_embed_wrapper {
	margin: 20px 0;
}